<div ng-if="isLoggedIn()" ng-controller= "ChatController">
	<style>

		.pn-chat-window {
			position: fixed;
			bottom: 0;
			left: 70vw;
			padding: 0;
		}

		.list-element {
			margin: 0;
			padding: 1vh;
			cursor: pointer;
		}

		.pn-chat-footer {
			position: absolute;
			margin: 0 auto;
			width: 80%;
			bottom: 0;
			left: 0; 
			right: 0;
		}

		.button {
			width:100%;
			height:100%;
			padding-top: 1vh;
			font-size: 2vh;
			color:white;

		}

		.left-button {
			left:1vw;
		}

		.right-button {
			right: 1vw;
		}

		.scrollable {
			overflow-y:auto;

		}

		.js-chat-list {
			overflow-y:auto;
			height: 30vh;
		}
		.pn-chat-header {
			height:5vh;
			width: 100%;
			cursor: pointer;
			box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.22);
			background: #0ea1bc; /* Old browsers */
			background: -moz-linear-gradient(-45deg, #0ea1bc 0%, #58bfd2 50%, #58bfd2 50%, #0ea1bc 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(-45deg, #0ea1bc 0%,#58bfd2 50%,#58bfd2 50%,#0ea1bc 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(135deg, #0ea1bc 0%,#58bfd2 50%,#58bfd2 50%,#0ea1bc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}

		.title {
			color: white;
			margin:0;
			padding-top: 0.5vh;
		}

		span .badge {
			font-size: 10px;
			padding: 2px 3px;
			background: #ff9a39;
			position: relative;
			left: -5px;
		}
		.active {
			color: green;
			background-color: green;
		}

		.selected {
			background-color: #dedede;
		}

		.open-chat-window {
			height:50vh;
		}

		.minimized-chat-window {
			height: 4vh;
		}

		.loading-screen {
			background-color: white;
			height:50vh;
			width:100%;
		}
	</style>
	<div name="chat-window" class="pn-user-card pn-chat-window" ng-class="isChatWindowOpen ? 'open-chat-window' : 'minimized-chat-window'">
		<span ng-click="isChatWindowOpen = true" ng-show="!isChatWindowOpen">Open Chat</span>
		<div ng-show="isChatWindowOpen" class="pn-chat-header" name="header" ng-click="isChatWindowOpen = false">
			<div class="col-md-2">
				<i class="fa fa-arrow-left button left-button" name="step-back-button" ng-click="goStepBack($event)" ng-show="step > 1 || isChatActive"></i>
			</div>
			<div class="col-md-8">
				<h4 class="title">{{title}}<span ng-if="openConversation.non_displayable_name_amount > 0"> + {{openConversation.non_displayable_name_amount}}</span></h4>
			</div>
			<div class="col-md-2">
				<i uib-tooltip="{{ nextButtonTitle }}" class="fa fa-plus button right-button" ng-show="!isChatActive" ng-click="goStepForward($event)" ng-disabled="isNextDisabled()"></i>
			</div>
		</div>
		<div ng-if="isChatWindowOpen && !isChatActive" name="search" class="pn-search-query-group input-group col-md-12">
			<input type="text" ng-model="$parent.query" placeholder="Search" class="form-control"/>
		</div>
		<div name="chat" class="col-md-12" ng-show="isChatWindowOpen">
			<div name="user-select" ng-show="step === 2" class="scrollable">
				<div name="add-people" ng-class="{selected: user.selected}" ng-repeat="user in users | filter : {'name':query} | filter : isNotUserFilter">
					<h4 ng-click="selectUser(user)" class="list-element">{{ user.name }}</h4>
				</div>
			</div>
			<div name="chat-selection" ng-show="!isChatActive; step === 1" class="scrollable">
				<span ng-class="{selected: over}" ng-mouseover="over=true" ng-mouseleave="over=false" ng-repeat="conversation in conversations | orderBy: 'date' : true | filter : {'allconversationparticipantsstring':query} " >
					<h4 ng-click="activateChat(conversation)" ng-show="step === 1; !isChatActive" class="list-element">
						<span class="badge" ng-if="!conversation.is_read">new!
						</span>
						{{conversation.namelist}}
						<span ng-if="conversation.non_displayable_name_amount > 0"> + {{ conversation.non_displayable_name_amount}}
						</span>
					</h4>
				</span>
			</div>
			<div name="active-chat" ng-if="isChatActive">
				<chat-message-list messages="openConversation.messages"></chat-message-list>
			</div>
		</div>
		<div ng-show="isChatWindowOpen" name="footer" class="pn-chat-footer">
			<div name="new-message" ng-show="step === 2 || isChatActive">
				<h6>Your Message:</h6>
				<textarea class="form-control" ng-model="newMessage" ng-disabled="isMessageSubmitting" ngMaxlength="1000" ng-change="checkLength(1000)" ng-keyup="sendMessage($event)">
				</textarea>
				<p>
					<h6>{{ 1000 - newMessage.length }} remaining</h6>
				</p>
			</div>
		</div>
	</div>
</div>
