<toasts></toasts>
<div class="content-container">
	<div ng-show="loadComplete">
		<h3>Applications for {{ project.title }}</h3>
		<div class="internal-container" ng-repeat="a in applications track by $index">
			<span class="title"><a href ui-sref="profile({ id: a.user.id })">{{ a.user.first_name }} {{ a.user.last_name }}</a></span><span class="subtitle">For Role: {{ a.role.title }}</span>
			<div class="buttons-right" ng-if="a.status === 'pending'">
				<button type="button" class="btn btn-default" ng-click="doAccept(a)">Accept</button>
				<button type="button" class="btn btn-danger" ng-click="doReject(a)">Reject</button>
			</div>
		</div>
	</div>
	<div ng-hide="loadComplete" class="text-center loading">
		<img src="/assets/ajax-loader.gif">
	</div>
</div>
