<div class="pn-activity-block" ng-if="doNotDisplay !== true">
  <div class="pn-activity-date">{{ activity.displayDate }}</div>
  <div class="pn-activity-user pn-img-partnr">
    <img ng-src="{{ activity.user.links.avatar }}" alt="{{ activity.user.first_name }}">
  </div>
  <div class="pn-activity-text">
    <div class="pn-activity-username">{{ activity.user.name }}</div>
    <a href ng-click="resolveLink(activity)">
      <div class="pn-activity-content">{{ activity.parsedMessage }}</div>
    </a>
  </div>
</div>
