<tbody>
  <% messages.forEach(function(elt, i) {
  %>
    <tr class="active" data-id=<%= elt.id %>>
      <td>
        <% elt.participants.forEach(function(el, ind, parts) { %>
          <%= el.name %>
          <% if( ind !== parts.length-1 ) { %>
            , 
          <% } %>
        <% }) %>
      </td>
    </tr>
  <%})%>
</tbody>
