<tbody>
  <% messages.forEach(function(elt, i) {
  %>
    <tr class="active" data-id=<%= elt.id %>>
      <td>
        <% elt.participants.forEach(function(el, ind, parts) { %>
          <%= el.first_name + " " + el.last_name %>
          <% if( ind !== parts.length-1 ) { %>
            , 
          <% } %>
        <% }) %>
      </td>
    </tr>
  <%})%>
</tbody>
