<div class="form well" id="send-message-form">
  <div class="col-lg-10" id="new-message-email-wrapper">
    <input type="text" class="form-control" id="recipientEmail" placeholder="Email">
  </div>
  <div class="col-lg-10" id="message-content-wrapper">
    <textarea rows="3" id="message-content" placeholder="Message"></textarea>
  </div>
  <div class="btn btn-success btn-small" id="send-new-message-btn">
    Send
  </div>
  <div class="btn btn-danger btn-small" id="cancel-new-message-btn">
    Cancel
  </div>
</div>
