<toasts></toasts>
<h1>Welcome, {{ user.first_name }}</h1>
<div class="content-container">
	<div class="btn-group" dropdown>
		<button id="split-button" type="button" class="btn btn-default" ng-click="$state.go('owner_project_list')">My Projects</button>
		<button type="button" class="btn btn-default" dropdown-toggle>
			<span class="caret"></span>
			<span class="sr-only">Options</span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
			<li role="menuitem"><a ui-sref="project_create">Create</a></li>
		</ul>
	</div>
	<button class="btn btn-default" ng-click="$state.go('profile_edit')">Edit Profile</button>
	<button class="btn btn-primary" ng-click="doLogout()">Log out</button>
</div>
<div class="content-container">
	<div>
		<h3>Find something new</h3>
		<input type="text" class="form-control" ng-model="search.keywords">
		<button type="button" class="btn btn-primary" ng-click="doSearch()">Search</button>
	</div>
	<div class="results" ng-show="search.queried">
		<div ng-show="search.result.projects.length > 0">
			<h4>Projects</h4>
			<span ng-repeat="p in search.result.projects">
				<a ui-sref="project({ id: p.id })">{{ p.title }}</a>
			</span>
		</div>
		<div ng-show="search.result.roles.length > 0">
			<h4>Roles</h4>
			<span ng-repeat="r in search.result.roles">
				<a ui-sref="project({ id: r.project.id })">{{ r.title }}</a>
			</span>
		</div>
		<div ng-show="search.result.roles.length === 0 && search.result.projects.length === 0">
			No Results
		</div>
	</div>
</div>
