<div class="content-container with-tabs clearfix">
	<h2>New Milestone</h2>
	<form class="col-md-6" name="milestoneForm">
		<fieldset ng-disabled="loading">
			<div class="form-group">
				<label for="milestoneName">name</label>
				<input id="milestoneName" class="form-control" ng-model="milestone.title" required />
			</div>
			<div class="form-group">
				<label for="milestoneDate">due date (optional)</label>
				<uib-datepicker ng-model="milestone.due_date" class="well well-sm"></uib-datepicker>
			</div>
			<button class="btn btn-default" ng-click="reset()">Reset</button>
			<button class="btn btn-primary" ng-click="createMilestone()" ng-disabled="milestoneForm.$invalid">Create</button>
		</fieldset>
	</form>
</div>