<div class="column fixed open navbar navbar-default" id="navbar">
  <div id="user-info">
    <a href="/portfolio" class="nav-link">
      <div class="text-center" id="user-name-link">
        First Name Last Name
      </div>
    </a>
    <div class="text-center" id="user-photo-link">
      Photo
    </div>
  </div>
  <a href="/" class="nav-link">
    <div class="nav-row text-center" id="user-home-link">
      Home
    </div>
  </a>
  <a href="/inbox" class="nav-link">
    <div class="nav-row text-center" id="user-inbox-link">
      Inbox
    </div>
  </a>
  <a href="/partners" class="nav-link">
    <div class="nav-row text-center" id="user-partners-link">
      My Partners
    </div>
  </a>
  <a href="/portfolio" class="nav-link">
    <div class="nav-row text-center" id="user-portfolio-link">
      My Portfolio
    </div>
  </a>
  <a href="/settings" class="nav-link">
    <div class="nav-row nav-row-bottom text-center" id="user-settings-link">
      Settings
    </div>
  </a>
  <div class="nav-row nav-row-bottom text-center btn-primary" id="user-logout-link">
    <%= form_for(:user, :method => 'delete', :url => destroy_session_path(:user), :html => { :class => 'hidden', :id => 'logout-form' }) do |f| %>
    <% end %>
      Logout
  </div>
</div>
