<div class="notification-wrapper">
  <%= devise_error_messages! %>
  <% if notice %>
    <div class="alert alert-dismissable alert-info">
      <button type="button" class="close close-alert" data-dismiss="alert">×</button>
      <p class="notice"><%= notice %></p>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-dismissable alert-info">
      <button type="button" class="close close-alert" data-dismiss="alert">×</button>
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>
</div>
