<div id="view-injection">
  <div class="help">
    ?
  </div>
  <div class="wrapper" id="welcome-wrapper">
    <h1>Partnr</h1>
    <p>Get seriously creative.</p>
    <div class="button-wrapper wrapper">
      <div class="btn btn-lg btn-primary" id="signup-btn">
        Sign Up
      </div>
      <div class="form" id="login-form">
        <input type="text" class="form-control" placeholder="Email"/>
        <input type="password" class="form-control" placeholder="Password"/>
      </div>
      <div class="form" id="signup-form">
        <input type="text" class="form-control" placeholder="First Name"/>
        <input type="text" class="form-control" placeholder="Last Name"/>
        <input type="text" class="form-control" placeholder="Email"/>
        <input type="password" class="form-control" placeholder="Password"/>
      </div>
      <div class="btn btn-lg btn-default" id="login-btn">
        Login
      </div>
    </div>
  </div>
</div>
