
* {
	word-break: break-word;
}

h3 {
	margin-top: 25px;
}

.loading {
	padding: 50px;
}

.comment {
	.c-header {
		font-size: 15px;
	}

	p {
		margin: 10px;
	}
}

.button-group {
	margin-top: 10px;
}

.opaque-notify-message {
	font-family: inherit;
	font-size: 20px;
	color: #cccccc;
	margin: 25px 0;
}