// Project View specific selectors

.project-status span {
	padding: 12px 15px;
	font-size: 18px;
	position: relative;
	bottom: -30px;
	background: #ff9a39;
	color: #fcfcfc;
	border: 1px solid #ff8d20;
	border-radius: 25px;
	box-shadow: 0 0 4px #888;
}

.partnr-page-header.project-header {
	margin-bottom: 22px;
}


