// Selectors related to project views

.project-status span {
	padding: 12px 15px;
	font-size: 18px;
	position: relative;
	bottom: -30px;
	background: #ff9a39;
	color: #fcfcfc;
	border: 1px solid #ff8d20;
	border-radius: 25px;
	box-shadow: 0 0 4px #888;
}

.partnr-page-header.project-header {
	margin-bottom: 22px;
}

.create-project-process .progress {
	height: 25px;

	.progress-bar {
		font-size: 14px;
		line-height: 25px;
		text-align: right;

		span {
			margin-right: 20px;
		}
	}
}

.fa-5 {
	color: #002b33;
	font-size: 70px !important;
	margin-bottom: 15px;
}

.form-control.no-margin {
	margin: 0;
}

.btn-toggle.active {
	box-shadow: none;
}

.menu-bar {
	margin-bottom: 10px;
}

a.sm-edit-link {
	color: #aaa;
	font-size: 12px;

	&:hover {
		text-decoration: none;
		color: #888;
	}

	span {
		padding-left: 3px;
	}
}

.pn-task {
	margin-bottom: 10px;

	&.complete {
		opacity: 0.6;
	}

	.complete-btn-wrapper {
		float: left;
	}

	.complete-btn {
		background: inherit;
		border: none;
		margin: 0;
		padding: 0 7px;
		font-size: 30px;

		&.not_started, &.in_progress {
			color: #c9c9c9;

			&:hover {
				color: darken(#c9c9c9, 10%);
			}
		}

		&.complete {
			color: #00be3a;

			&:hover {
				color: darken(#00be3a, 10%);
			}
		}

		&:focus {
			outline: none;
		}
	}

	.title-group {
		margin-right: 30px;
		word-break: break-all;

		span {
			line-height: 42px;
		}

		p {
			margin-left: 42px;
		}

		.pn-task-title {
			font-size: 18px;
		}
	}

	.pn-task-info {
		background: #f5f5f5;
		border-top: 1px solid #eaeaea;

		span {
			padding: 5px 10px;
			display: inline-block;
			margin: 0;

			i {
				padding-right: 5px;
			}
		}
	}
}