<div class="partnr-header-wrapper" ng-show="loadComplete">
  <div class="profile-image" ng-style="{'background-image': 'url(' + user.links.avatar + ')' }"></div>
  <div class="partnr-page-header profile-header clearfix">
    <h1 class="text-center">{{ user.first_name }} {{ user.last_name }}</h1>
    <div class="profile-highlights text-center">
      <span><i class="fa fa-map-marker"></i> {{ user.profile.location.geo_string }}</span>
      <span ng-if="user.profile.positions.length > 0"><i class="fa fa-briefcase"></i> {{ user.profile.positions[user.profile.positions.length - 1].title }}</span>
    </div>
    <div class="profile-actions text-center">
      <button class="btn btn-sm btn-primary">connect</button><button class="btn btn-sm btn-primary">message</button>
    </div>
    <div ng-if="userCategories.length > 0" class="profile-header-skills text-center">
      <div ng-repeat="category in userCategories | limitTo: 3" tooltip-placement="top" uib-tooltip="{{ category.title }}" style="background: {{ category.color_hex }}" class="pn-cat-circle pn-cat-circle-inline">
        <i class="fa {{ category.icon_class }}"></i>
      </div>
      <div ng-if="userCategories.length > 3" style="background: #333" class="more-skills pn-cat-circle pn-cat-circle-inline">
        <span>+{{ userCategories.length - 3 }}</span>
      </div>
    </div>
  </div>
</div>
<toasts></toasts>
<div class="col-md-3 content-container" ng-show="loadComplete">
  <h3 class="inline">Education</h3>
  <div class="clearfix">
    <div ng-repeat="school in user.profile.school_infos track by $index">
      <div class="internal-container">
        <h4>{{ school.school_name }}</h4>
        <label for="grad_year">Class of</label>
        <span>{{ school.grad_year }}</span><br/>
        <label for="major">Major</label>
        <span>{{ school.field }}</span>
      </div>
    </div>
  </div>

  <h3 class="inline">Positions</h3>
  <div class="clearfix">
    <div ng-repeat="position in user.profile.positions track by $index">
      <div class="internal-container">
        <h4>{{ position.title }}</h4>
        <span>{{ position.company }}</span>
      </div>
    </div>
  </div>

  <h3 class="inline">Interests</h3>
  <div class="clearfix">
    <div ng-repeat="interest in user.profile.interests track by $index">
      <div class="internal-container">
        <h4>{{ interest.title }}</h4>
      </div>
    </div>
  </div>

  <h3 class="inline">Projects</h3>
  <div class="clearfix">
    <div ng-repeat="project in user.projects">
      <a ng-click="$state.go('project', { project_id: project.id })">{{ project.title }}</a>
    </div>
  </div>
</div>
<div class="col-md-9">
  <ul class="content-container-tabs nav nav-tabs" ng-show="loadComplete" role="tablist">
    <li role="presentation" ng-class="{'active': $state.current.name === 'profile'}">
      <a href ui-sref="profile({'id' : user.id})" role="tab">Activity</a>
    </li>
    <li role="presentation" ng-class="{'active': $state.current.name === 'profile_projects'}">
      <a href ui-sref="profile_projects({'id' : user.id})" role="tab">Projects</a>
    </li>
    <li role="presentation" ng-class="{'active': $state.current.name === 'profile_connections'}">
      <a href ui-sref="profile_connections({'id' : user.id})" role="tab">Connections</a>
    </li>
    <li ng-if="isOwner" role="presentation" ng-class="{'active': $state.current.name === 'profile_skills'}">
      <a href ui-sref="profile_skills({'id' : user.id})" role="tab">Skills</a>
    </li>
  </ul>
  <div ui-view="profileinfo" ng-show="loadComplete"></div>
</div>
<div ng-hide="loadComplete" class="content-container">
  <div class="text-center loading">
    <img src="/assets/ajax-loader.gif">
  </div>
</div>
