/*
 *= require_tree ./nav
 *= require_tree ./home
 *= require_tree ./inbox
 *= require_tree ./partners
 *= require_tree ./portfolio
 *= require_tree ./settings
 */

@import 'constants.css.scss';

#container {
  width: 100%-$nav-width;
  margin-left: 2%+$nav-width;
}

.notification-wrapper {
  margin-left: $nav-width;
}
