#message-wrapper {
  width: 60%;
  float: right;
  margin-right: 10%;
}

#send-message-content {
  width: 80%;
  vertical-align: middle;
}

#send-message-btn {
  width: 15%;
  height: 27px;
  line-height: 10px;
}

#conversation-wrapper {
  height: 350px;
  overflow: scroll;
}

#message-sender {
  font-size: 12px;
  margin-left: 3%;
}
