<div class="centered col-md-6 login-modal has-logo-underlay">
	<img src="/assets/collabor8.png" alt="partnr" class="partnr-logo-underlay" />
	<h1 class="text-center">Log In</h1>
	<div class="content-container">
		<toasts></toasts>
		<div ng-hide="loading">
			<div class="form-group">
				<label for="email">email</label>
				<input name="email" type="text" class="form-control" ng-model="email" />
				<label for="password">password</label>
				<input name="password" type="password" class="form-control" ng-model="password" />
			</div>
			<div class="text-center">
				<button class="btn btn-primary centered" ng-click="doLogin()">log in</button><br>
				<p class="default-blue"><a ui-sref="account_create">create an account</a> | <a ui-sref="account_forgot">forgot password</a></p>
			</div>
		</div>
		<div ng-show="loading" class="text-center loading">
			<img src="/assets/ajax-loader.gif">
		</div>
	</div>
</div>