<h1>Create your account</h1>
<toasts></toasts>
<div class="col-md-4">
	<div class="form-group">
		<label for="email">E-Mail</label>
		<input name="email" type="text" class="form-control" ng-model="acct.email" />
		<label for="first_name">First Name</label>
		<input name="first_name" type="text" class="form-control" ng-model="acct.first_name" />
		<label for="last_name">Last Name</label>
		<input name="last_name" type="text" class="form-control" ng-model="acct.last_name" />
		<label for="password">Password</label>
		<input name="password" type="password" class="form-control" ng-model="acct.password" />
	</div>
	<button class="btn btn-primary" ng-click="doCreateUser()">Create</button>
</div>