<!DOCTYPE html>
<html>
<head>
  <title>Partnr</title>
  <%= csrf_meta_tags %>
  <% if ENV['RACK_ENV'] != 'production' %>
    <meta name="robots" content="noindex" />
  <% end %>

  <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body ng-app="partnr">
  <header ng-include="'shared/header.html'"></header>
	<div class="content container">
		<div ui-view="content"></div>
	</div>
  <footer><span class="version">Copyright © 2015 Partnr LLC • v{{ version }}</span></footer>
</body>
</html>
