<!DOCTYPE html>
<html>
<head>
  <title>Partnr</title>
  <%= csrf_meta_tags %>
  <% if ENV['RACK_ENV'] != 'production' %>
    <meta name="robots" content="noindex" />
  <% end %>
  <!-- temporary bootstrap theme -->
  <link href="https://bootswatch.com/superhero/bootstrap.css" rel="stylesheet" type="text/css"/>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body ng-app="partnr">
	<div class="content container">
		<div ui-view="content"></div>
	</div>
</body>
</html>
