<!DOCTYPE html>
<html>
<head>
  <title>Partnr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- temporary bootstrap theme -->
  <link href="https://bootswatch.com/superhero/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-app="partnr">
	<header ng-if="auth.isAuthenticated()" ng-include="header.html"></header>
	<div class="content container">
		<div ui-view></div>
	</div>
</body>
</html>
